<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div fxFlex="10%">
        <a routerLink="/">Home</a>
    </div>
    <div fxFlex="80%" fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="25px" class="navigation-items">
            <li>
                <a routerLink="/ping">Главная</a>
            </li>
            <li>
                <a routerLink="/ping">Тарифы</a>
            </li>
            <li>
                <a routerLink="/ping">О нас</a>
            </li>
            <li>
                <a routerLink="/ping">Контакты</a>
            </li>
            <li>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>language</mat-icon>
                    <span>{{curentLanguage}}</span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>flag</mat-icon>
                        <span>{{additionalLanguage}}</span>
                    </button>
                </mat-menu>

            </li>
        </ul>
    </div>
    <div fxFlex="10%" fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/ping">Ping</a>
            </li>
            <li>
                <a routerLink="/admin" *ngIf="isAdmin">Admin</a>
            </li>
        </ul>
    </div>

</mat-toolbar>