 .select-width {
    width: 100%;
 }

 ::ng-deep .mat-select-content{
   // width:150px;
   // max-width:400px;
   // padding: 5px;
 }


 .filter-select-panel {
  //  width:150px;
  //  max-width:400px;
 //   padding: 5px;
}
.filter-text-panel {
 //   width:150px;
  //  max-width:400px;
   // padding: 5px;
}

.tp-radio-group {
    display: inline-flex;
    flex-direction: row;
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }
 .filter_header_chekbox_text{
    font-size: 0.9em;
 }
 .elan_text {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
 }