<!--NEW-->
<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayout.sm="column" fxLayout.xs="column">

    <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="20%">
      <mat-card class="example-card">
        <div class="example-container">
          <!--AdverType-->
          <mat-form-field>
            <mat-select (change)="filterAdverType($event)" [(ngModel)]="filtersModel.typeOfAdvert"
              placeholder="Type Of Advert">
              <mat-option *ngFor="let _adverType of typeOfAdvert" value={{_adverType}}>
                {{_adverType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Price Min-->
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="startPrice" [(ngModel)]="filtersModel.priceMinValue">
            <mat-error *ngIf="textFormControl">
              You must provide a<strong>name</strong>
            </mat-error>
          </mat-form-field>
        </div>
          <!--Price Max-->
        <div class="example-container">        
          <mat-form-field>
            <input matInput placeholder="endPrice" [(ngModel)]="filtersModel.priceMaxValue">
            <mat-error *ngIf="textFormControl">
              You must provide a<strong>name</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <div flexorder="2" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="20%">
       <!--Object Type-->
      <mat-card class="example-card">
        <div class="example-container">
          <mat-form-field>
            <mat-select (change)="filterAdverType($event)" [(ngModel)]="filtersModel.typeOfObject"
              placeholder="Тип обьекта">
              <mat-option *ngFor="let _typeOfObjectList of typeOfObjectList" value={{_typeOfObjectList}}>
                {{_typeOfObjectList}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
          <!--Square min-->
        <div class="example-container">
          <mat-form-field>
              <input matInput placeholder="Площадь от" [(ngModel)]="filtersModel.squareMinValue">
              <mat-error *ngIf="textFormControl">
                You must provide a<strong>name</strong>
              </mat-error>
          </mat-form-field>
        </div>
        <!--Square max-->
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Площадь до" [(ngModel)]="filtersModel.squareMaxValue">
                <mat-error *ngIf="textFormControl">
                  You must provide a<strong>name</strong>
                </mat-error>
            </mat-form-field>
          </div>
      </mat-card>
    </div>
    <div flexorder="3" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="20%">
      <mat-card class="example-card">
          <!--City-->
        <div class="example-container">
          <mat-form-field>
            <mat-select (change)="filterAdverType($event)" [(ngModel)]="filtersModel.city"
              placeholder="Seher">
              <mat-option *ngFor="let _cityList of cityList" value={{_cityList}}>
                {{_cityList}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
           <!-- Etaj Min-->
        <div class="example-container">
          <mat-form-field>
            <mat-select (change)="filterAdverType($event)" [(ngModel)]="filtersModel.floorMin"
              placeholder="Etaj min">
              <mat-option *ngFor="let _floorList of floorList" value={{_floorList}}>
                {{_floorList}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
           <!-- Etaj Max-->
        <div class="example-container">
          <mat-form-field>
            <mat-select (change)="filterAdverType($event)" [(ngModel)]="filtersModel.floorMax"
              placeholder="Etaj max">
              <mat-option *ngFor="let _floorList of floorList" value={{_floorList}}>
                {{_floorList}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <div flexorder="4" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="40%">
      <mat-card class="example-card">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30px">
          <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayout.sm="column" fxLayout.xs="column"
              fxLayoutGap="15px">
              <div fxFlex>
                   <!-- Rayon-->
                <div class="example-container">
                  <mat-form-field>
                    <mat-select (change)="filterAdverType($event)" [(ngModel)]="filtersModel.comunna"
                      placeholder="Rayon">
                      <mat-option *ngFor="let _comunnaList of comunnaList" value={{_comunna}}>
                        {{_comunnaList}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                   <!-- Metro -->
                <div class="example-container">
                  <mat-form-field>
                    <mat-select (change)="filterAdverType($event)" [(ngModel)]="filtersModel.metro"
                      placeholder="Metro">
                      <mat-option *ngFor="let _metroList of metroList" value={{_metroList}}>
                        {{_metroList}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- Search-->
              <div fxFlex>
                <div class="example-container">
                  <mat-form-field class="elan_text">
                    <input  type="tel" matInput placeholder="Elan #" [(ngModel)]="searchValue">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="textFormControl">
                        You must provide a<strong>name</strong>
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="start end" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="45px">
              <div fxFlex>
                <div class="example-container">
                  <div fxLayout="row" fxLayoutAlign="center start" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
                    <mat-checkbox fxflex="30%" matInput (change)="updateCheckedOptions(filtersModel.kupcha, $event)"
                      [disabled]="IsDisabled" [(ngModel)]="filtersModel.kupcha" class="filter_header_chekbox_text">
                      Kupcha
                    </mat-checkbox>
                    <mat-checkbox fxflex="30%" matInput (change)="updateCheckedOptions(filtersModel.kredit, $event)"
                      [disabled]="IsDisabled" [(ngModel)]="filtersModel.kredit" class="filter_header_chekbox_text">
                      Kredit
                    </mat-checkbox>
                    <mat-checkbox fxflex="30%" (change)="updateCheckedOptions(filtersModel.newBuilding, $event)"
                      [disabled]="IsDisabled" [(ngModel)]="filtersModel.newBuilding" class="filter_header_chekbox_text">
                      Teze tikinti</mat-checkbox>
                  </div>
                </div>
              </div>
              <div fxFlex>
                <div class="example-container">
                  <button mat-raised-button color="primary">Axtar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>