<div fxLayout="row" fxLayoutAlign="center  start" fxLayoutGap="10px">
    <div fxFlex="40%">
      
<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>
                <strong>Normal User</strong> - U: user P: user<br />
                <strong>Administrator</strong> - U: admin P: admin
          </mat-card-title>
          <mat-card-subtitle>Angular 8 Role Based Auth Example</mat-card-subtitle>
          
        </mat-card-header>
      
        <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <mat-spinner  *ngIf="loading"></mat-spinner>  
                        <button [disabled]="loading"  mat-raised-button color="primary">Login</button>
                        <div *ngIf="error" color="warn" >{{error}}</div>
                    </form>
        </mat-card-content>      
      </mat-card>
  
    </div>
</div>