<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav role="navigation">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  </mat-sidenav-content>     
</mat-sidenav-container>
<main>
  <router-outlet></router-outlet>
</main>
 